body {
    background-color: #F3F5FC;
    margin: 0; /* Adicionado para garantir que não haja margens padrão */
    font-family: 'Inter', sans-serif; /* Adicionado para definir uma fonte padrão */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px; /* Ajustado para margem uniforme */
}
#text-form{
    width: 680px;
}
.input-text {
    width: 680px;
    height: calc((650 / 1024) * 100vh); /* Ajustado para altura fixa */
    max-height: 650px;
    color: #0A3871;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
}
.input-text::placeholder{
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: #0A3871;
}

.warning {
    display: flex;
    align-items: center;
}

.warning-text {
    width: 228px; /* Ajustado para largura fixa */
    opacity: 0.8;
    color: #495057;
    margin-left: 8px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}
.logo-container{
    padding: 40px; /* Adicione margem interna para espaçamento */
    align-self: self-start;
    margin-top: calc((20 / 1020) * 100vh);
    margin-left: 84px;
}

.logo {
    width: 31.09px; /* Ajustado para largura fixa */
    height: 48px; /* Ajustado para altura fixa */
}
.btn-container {
    display: flex; /* Torna os botões flexíveis */
    justify-content: space-between;
    margin-top: 8px;
}
.btn {
    width: 80%; /* Ajustado para largura percentual */
    max-width: 328px; /* Ajustado para largura máxima */
    padding: 24px;
    border-radius: 24px;
    font-size: 16px; /* Ajustado para tamanho de fonte fixo */
    text-align: center;
    cursor: pointer;
}

#btnCriptografar {
    background-color: #0A3871;
    color: #FFFFFF;
    border: none;
}

#btnDescritografar {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.result-container {
    width: 400px;
    height: calc((944 / 1024) * 100vh);
    max-height: 944px;
    border-radius: 24px; /* Ajustado para raio de borda uniforme */
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px #00000014; /* Ajustado para valores uniformes */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result-text-content.adjusted {
    height: calc((781 / 1024) * 100vh); /* Definindo a altura como 84% da altura do contêiner pai */
    max-height: 781px;
    overflow-y: auto; /* Adicionando uma barra de rolagem vertical quando o conteúdo ultrapassar a altura */
    text-align: left;
}
.result{
    width: 336px;
}
#result-image {
    width: 100%; /* Ajustado para largura percentual */
    max-width: 336px; /* Ajustado para largura máxima */
    margin-bottom: 16px;
    height: auto;
}

.result-text {
    width: 336px;
    text-align: center;
    margin-top: 16px; /* Ajustado para margem uniforme */
}

.result-text h1 {
    font-size: 24px; /* Ajustado para tamanho de fonte fixo */
    font-weight: 700;
    line-height: 1.2;
    color: #343A40;
    margin: 0;
    padding: 8px 0; /* Ajustado para preenchimento uniforme */
}

.result-text p {
    font-size: 16px; /* Ajustado para tamanho de fonte fixo */
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    margin: 0;
    padding: 8px 0; /* Ajustado para preenchimento uniforme */
    word-wrap: break-word;
    max-width: 100%;
    overflow: auto;
    max-height: calc(100vh - 200px); 
}
#btnCopiar{
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
}
footer {
    background-color: #0A3871; /* Cor de fundo */
    color: #D8DFE8; /* Cor do texto */
    text-align: center; /* Centralizar o texto */
    padding: 20px 0; /* Espaçamento interno superior e inferior */
}

.footer-content {
    font-size: 14px; /* Tamanho da fonte */
}

.footer-content a {
    position: relative;
    color: #D8DFE8;
    text-decoration: none;
}

.footer-content a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #D8DFE8;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.footer-content a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

@media screen and (max-width: 769px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: auto;
    }
    .section{
        padding: 0;
    }
    .input-text {
        width: 90%; /* Ajustado para largura percentual */
        max-width: none; /* Removido para largura máxima não ser aplicada em telas menores */
        max-height: 500px; /* Ajustado para altura fixa */
        font-family: Inter;
        font-size: 32px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
    }
    .input-text::placeholder{
        font-size: 32px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
    }
    .warning-img {
        width: 16px; /* Ajustado para largura fixa */
        height: 16px; /* Ajustado para altura fixa */
    }

    .warning-text {
        width: 228px; /* Ajustado para largura automática */
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
    }
    .btn-containe{
        width: 688px;
    }
    .btn {
        width: 332px; /* Ajustado para largura percentual */
        margin-top: 16px; /* Ajustado para margem uniforme */
    }

    .logo {
        margin-top: 20px; /* Ajustado para margem uniforme */
    }

    .result-container {
        width: 688px; /* Ajustado para largura percentual */
        height: auto;
        margin: 64px 0; /* Ajustado para margem uniforme */
    }
    #result-image{
        display: none;
    }
    .result-text h1 {
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: center;
    }
    .result-text p{
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center; 
        margin-bottom: 32px;       
    }
    .result-text-content.adjusted {
        max-height: 180px;
        overflow-y: auto; /* Adicionando uma barra de rolagem vertical quando o conteúdo ultrapassar a altura */
        text-align: left;
    }
    .logo-container{
        padding: 40px;
        align-self: self-start;
        margin-top: 73px;
        margin-left: 20px;
    }
    footer {
        width: auto;
    }
}

@media screen and (max-width: 376px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: auto;
    }
    #text-form{
        max-width: 375px;
    }
    .input-text {
        width: 100%;
        max-width: 338px;
        max-height: 624px;
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
        margin: 0 16px;
    }
    .warning-img {
        width: 16px;
        height: 16px;
        margin: 0 16px;
    }

    .warning-text {
        width: 252px; /* Ajustando a largura do texto de aviso */
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
    }

    .btn-container {
        margin-top: 8px; /* Ajustando a margem superior para espaço entre o input e os botões */
        display: flex;
        flex-direction: column; /* Alinhando os botões verticalmente */
        align-items: center; /* Alinhando os botões no centro */
    }

    .btn {
        width: 343px;
        margin-top: 16px;
    }

    .logo-container {
        width: 335px;
        height: 96px;
        padding: 20px; /* Ajustando a margem interna para evitar que a logo encoste nas bordas */
        align-self: self-start;
        margin: 0;
    }

    .result-container {
        width: 327px;
        height: auto;
        margin-top: 64px;
        margin-bottom: 40px;
    }

    #result-image {
        display: none;
    }

    .result-text h1 {
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: center;
    }

    .result-text p {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    .result-text-content.adjusted {
        max-height: 180px;
        overflow-y: auto;
        text-align: left;
    }
}
