/* Define o container principal para ocupar toda a tela */
.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Estilo para cada seção dentro do container */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 calc((40 / 1440) * 100vw); /* Espaço entre os itens */
}

/* Estilo para a seção de entrada de texto */
.input-section {
    margin-top: calc((168 / 1024) * 100vh); /* Distância de 635px do topo da página */
}

/* Estilo para o contêiner de resultado */
.result-container {
    margin-left: calc((40 / 1440) * 100vw); /* Espaço entre input-section e result-container */
}

/* Estilos para o campo de entrada de texto */
.input-text {
    width: calc((680 / 1440) * 100vw);
    height: calc((48 / 1024) * 100vh);
    font-family: 'Inter', sans-serif;
    font-size: calc((32 / 1440) * 100vw);
    color: #0A3871;
    border: none; /* Remove a borda */
    outline: none; /* Remove o contorno ao clicar */
    padding: 0; /* Remove o preenchimento padrão */
    margin-bottom: calc((635 / 1024) * 100vh);
}
.warning{
    display: flex;
    align-content: center;
    margin-bottom: calc((16 / 1024) * 100vh);
}
/* Estilos para o texto de aviso */
.warning-text {
    width: calc((228 / 1440) * 100vw); /* Calcula a largura do texto */
    height: calc((18 / 1024) * 100vh); /* Calcula a altura do texto */
    opacity: 0.8;
    font-family: 'Inter', sans-serif;
    font-size: calc((12 / 1440) * 100vw);
    color: #495057;
    margin-left: calc((8 / 1440) * 100vw); /* Espaçamento entre a imagem e o texto */
}

/* Estilos para o placeholder do campo de entrada */
.input-text::placeholder {
    color: #0A3871; /* Cor do placeholder */
}

/* Estilos para o ícone de aviso */
.warning-img {
    width: calc((16 / 1440) * 100vw); /* Calcula a largura da imagem */
    height: calc((16 / 1024) * 100vh); /* Calcula a altura da imagem */
}

.logo{
    margin-top: calc((40 / 1440) * 100vh);
    width: calc((31.09 / 1440) * 100vw); /* Calcula a largura da imagem */
    height: calc((48 / 1024) * 100vh); 
}
.btn {
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

/* Estilos específicos para o botão Criptografar */
#btnCriptografar {
    background-color: #0A3871;
    color: #FFFFFF; /* Cor do texto */
    border: none;
    margin-right: 24px;
}

/* Estilos específicos para o botão Descriptografar */
#btnDescritografar {
    background-color: #D8DFE8;
    color: #0A3871; /* Cor do texto */
    border: 1px solid #0A3871;
}