body {
    background-color: #F3F5FC;
}

.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 calc((40 / 1440) * 100vw);
}

.input-section {
    margin-top: calc((168 / 1024) * 100vh);
}

.result-container {
    margin-left: calc((40 / 1440) * 100vw);
}

.input-text {
    width: calc((680 / 1440) * 100vw);
    height: calc((288 / 1024) * 100vh);
    font-family: 'Inter', sans-serif;
    font-size: calc((32 / 1440) * 100vw);
    color: #0A3871;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin-bottom: calc((407 / 1024) * 100vh);
}

.warning {
    display: flex;
    align-content: center;
}

.warning-text {
    width: calc((228 / 1440) * 100vw);
    height: calc((18 / 1024) * 100vh);
    opacity: 0.8;
    font-family: 'Inter', sans-serif;
    font-size: calc((12 / 1440) * 100vw);
    color: #495057;
    margin-left: calc((8 / 1440) * 100vw);
}

.input-text::placeholder {
    color: #0A3871;
}

textarea {
    resize: none;
    border: none;
    outline: none;
    overflow: auto;
    padding: 0;
    scrollbar-base-color: #D8DFE8;
}

.warning-img {
    width: calc((16 / 1440) * 100vw);
    height: calc((16 / 1024) * 100vh);
}

.logo {
    margin-top: calc((40 / 1440) * 100vh);
    width: calc((31.09 / 1440) * 100vw);
    height: calc((48 / 1024) * 100vh);
}

.btn {
    margin-top: calc((16 / 1024) * 100vh);
    width: calc((328 / 1440) * 100vw);
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-size: calc((16 / 1440) * 100vw);
    text-align: center;
    cursor: pointer;
}

#btnCriptografar {
    background-color: #0A3871;
    color: #FFFFFF;
    border: none;
    margin-right: 24px;
}

#btnDescritografar {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.result-container {
    width: calc((400 / 1440) * 100vw);
    height: calc((944 / 1024) * 100vh);
    margin: calc((40 / 1024) * 100vh) 0;
    border-radius: calc((32 / 1440) * 100vw);
    background: #FFFFFF;
    box-shadow: 0px calc((24 / 1024) * 100vh) calc((32 / 1024) * 100vh) calc((-8 / 1024) * 100vh) #00000014;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#item-result {
    width: calc((336 / 1440) * 100vw);
    height: calc((304 / 1024) * 100vh);
}

.result-text {
    width: calc((336 / 1440) * 100vw);
    height: calc((122 / 1024) * 100vh);
}

.result-text {
    width: calc((336 / 1440) * 100vw);
    height: auto;
    top: calc((16 / 1024) * 100vh);
    left: 0;
}

.result-text h1 {
    font-family: Inter;
    font-size: calc((24 / 1440) * 100vw);
    font-weight: 700;
    line-height: calc((29 / 1024) * 100vh);
    letter-spacing: 0em;
    text-align: center;
    color: #343A40;
    margin: 0;
    padding: calc((16 / 1024) * 100vh) 0;
}

.result-text p {
    font-family: Inter;
    font-size: calc((16 / 1440) * 100vw);
    font-weight: 400;
    line-height: calc((24 / 1024) * 100vh);
    letter-spacing: 0em;
    text-align: center;
    color: #495057;
    margin: 0;
    padding: calc((16 / 1024) * 100vh) 0;
    word-wrap: break-word;
}
.result-text-content .adjusted p{
    margin-top: calc((32 / 1024) * 100vh);
    margin-left: calc((32 / 1440) * 100vw);
    margin-right: calc((32 / 1440) * 100vw);
    text-align: left;
    width: calc((336 / 1440) * 100vw);
    height: calc((781 / 1024) * 100vh);
}
#result-image{
    width: calc((336 / 1440) * 100vw);
    height: calc((304 / 1024) * 100vh);
}
#btnCopiar {
    background-color: #D8DFE8; /* Mesma cor que o botão Descriptografar */
    color: #0A3871; /* Mesma cor do texto do botão Descriptografar */
    border: 1px solid #0A3871; /* Mesmo estilo de borda que o botão Descriptografar */
    width: calc((328 / 1440) * 100vw); /* Mesmo tamanho do botão Descriptografar */
    height: 67px; /* Mesma altura do botão Descriptografar */
    padding: 24px; /* Mesmo preenchimento do botão Descriptografar */
    border-radius: 24px; /* Mesmo raio de borda do botão Descriptografar */
    font-family: 'Inter', sans-serif;
    font-size: calc((16 / 1440) * 100vw);
    text-align: center;
    cursor: pointer;
    margin: calc((32 / 1024) * 100vh) calc((32 / 1440) * 100vw);
}